# Klasifikacija zvezd -> projekt pri predmetu Tehnologije znanja

Spektralna razvrstitev zvezd je v astronomiji razvrstitev zvezd po njihovih spektralnih značilnostih (med njimi spadajo: 
-> fotosferska temperatura
-> črte elementov, ki jih absorbirajo
-> ...
).
Posledično so zvezde razdeljene še v podrazrede.

Elektromagnetno sevanje analiziramo tako, da ga s prizmo ali uklonsko mrežico razdelimo v spekter, ki prikazuje mavrico barv, prepredeno s spektralnimi črtami.
~> Vsaka črta označuje določen kemijski element oz. molekulo, pri čemer moč črte označuje številčnost tega elementa.
Moči različnih spektralnih linij se razlikujejo predvsem zaradi temperature fotosfere, pri čemer

## Importanje knjižnic ter osnovne datoteke

Preden se lotimo programiranja učnega modela, moramo uvoziti vse potrebne knjižnice, ki nam bodo pomagale pri obdelavi, učenju ter prikazovanju podatkov.

In [17]:
import numpy as np # matematična knjižnica za manipulacijo s podatki
import pandas as pd # knjižnica za podatkovno analizo

from sklearn.model_selection import train_test_split # metoda za razdelitev podatkovne množice na učno mn. in testno mn.

In [18]:
df = pd.read_csv('zvezde.csv')
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

## Priprava ter pregled podatkov

In [19]:
df.isna().sum()

Temperature (K)           0
Luminosity(L/Lo)          0
Radius(R/Ro)              0
Absolute magnitude(Mv)    0
Star type                 0
Star color                0
Spectral Class            0
dtype: int64

Prednost te podatkovne množice je, da ne vsebuje nobenih ničelnih podatkov. To pomeni, da ne potrebujemo odstranjevati manjkajočih vrednosti, tako da se lahko lotimo obdelave podatkov.

Prvo razdelimo pdoatkovno na **učno množico** ter na **testno množico**.
-> Model bomo naučili z učno množico in nato s pomočjo testne množice model stestirali in pogledali, kako uspešen je bil naš model pri klasificiranju zvezd

In [20]:
test = df['Star type']
podatki = df.drop(['Star type'], axis=1)

V tej podatkovni množici imamo poleg številskih podatkov tudi kategorične vrednosti. Za učenje našega podatkovnega modela moramo v naši podatkovni množici imeti le številske vrednosti, zato moramo vse kategorične vrednosti zamenjati z ustreznimi številskimi. Vendar to je nepraktično delati na roke. Kako se lotimo te zadeve?

Pythonova knjižnica pandas vsebuje metodo prav zato -> **get_dummies()**. Ta metoda nam bo vse kategorične vrednosti spremenila v številske tako, da bo vsaka posamična kategorija pridobila svoj stolpec v dataframe-u in tam označila, če je nek vnos tip te kategorije ali ne (1 -> je ta tip, 0 -> ni ta tip).

In [14]:
podatki = pd.get_dummies(podatki)

podatki.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star color_Blue,Star color_Blue,Star color_Blue White,Star color_Blue white,Star color_Blue white,Star color_Blue-White,...,Star color_white,Star color_yellow-white,Star color_yellowish,Spectral Class_A,Spectral Class_B,Spectral Class_F,Spectral Class_G,Spectral Class_K,Spectral Class_M,Spectral Class_O
0,3068,0.002400,0.1700,16.12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,3042,0.000500,0.1542,16.60,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2600,0.000300,0.1020,18.70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2800,0.000200,0.1600,16.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1939,0.000138,0.1030,20.06,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Preden začnemo implementirati model ter ga učiti, moramo našo učno ter testno množico vsako razbiti v učno ter testno množico.

Razdelitev bo potekala na naslednji način:
* Učna ter testna množica bosta razdeljeni v naslednjem razmerju:
    * Učna množica -> 70%
    * Testna množica -> 30%
* Za **Random state** vrednost bom uporabil 123

In [22]:
x_train, x_test, y_train, y_test = train_test_split(podatki, test, test_size=0.3, random_state=123)